* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans pro', sans-serif;
}

html, body {
    /*A Cada 1rem será considerado 10px*/
    font-size: 62.5%;
}

/* Seção header */

.section-header {
    min-width: 100%;
    height: 12.32em;
    background-color: #00cad1;
}

.header-info {
    max-width: 163.80em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-img img{
    height: 45px;
    height: 60px;
}

.header-nav {
    font-size: 2.0rem;
}

.header-nav a{
    margin-right: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1.0rem;
}

/* Section Mian */

.section-banner {
    width: 100%;
    height: 76em;
    color: white;
    background-image: url(imagens/recepcao.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15rem;
}

.section-banner h1:first-of-type {
    font-size: 4.0rem;
    font-weight: 500;
}

.banner-info {
    max-width: 51.2em;
    font-size: 2.0rem;
    margin: 0 auto;
}

/* Section Sobre */

.section-sobre {
    text-align: center;
}

.sobre-info {
    width: 92.16em;
    margin: 0 auto;
}

.sobre-info h2:first-of-type {
    margin-top: 4.0rem;
    font-size: 2.0rem;
}

.sobre-info p:first-of-type {
    margin-top: 2.0rem;
    font-size: 1.6rem;
}

/* Section Lista */

.section-lista {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.section-info {
    margin: 3.5rem 4.0rem 0 0;
    text-align: left;
}

.section-info p {
    font-size: 2.0rem;
    margin-bottom: 2.0rem;
}

.lista-info {
    margin-left: 4.0rem;
    font-size: 1.4rem;
}

/* Section Especialidades */

.section-especialidades h2:first-of-type {
    margin-top: 2.0rem;
    font-size: 2.0rem;
}

.section-especialidades p:first-of-type {
    margin: 2.0rem;
    font-size: 1.6rem;
}

.especialidades-info {
    width: 92em;
    margin: 0 auto;
}

.section-especialidades-img {
    max-width: 163.84em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.0rem;
    margin-top: 2.0rem;
    
}

.especialidades-img {
    border-radius: 2.0%;
    box-shadow: 0.0rem 0.0rem 0.5rem 0.3rem rgb(190, 189, 189);
}
.especialidades-img img:first-of-type {
    width: 46.4em;
}

.especialidades-img figcaption:first-of-type {
    margin: 1.0rem;
    font-size: 1.6rem;
}

.section-especialidades button:first-of-type {
    margin: 3.0rem;
    padding: 1.0rem 2.0rem;
    background-color: #00cad1;
    border: 0.1rem solid #00cad1;
    color: white;
}

.section-especialidades button:hover {
    box-shadow: 0.0rem 0.0rem 0.1rem 0.3rem #00cad1;
    cursor: pointer;
    font-size: 1.6rem;
}

/* Section Contato */

.section-contato {
    max-width: 163.84em;
    margin: 0 auto;
    text-align: center;
}

.section-contato h2:first-of-type{
    font-size: 2.0rem;
}

.contato-info {
    margin: 0 auto;
    width: 96em;
}

.contato-info p {
    margin-bottom: 2.0rem;
    font-size: 1.6rem;
}

.contato-info span {
    font-weight: 700;
}

.contato-info a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.contato-endereco {
    text-align: center;
}

.endereco-iframe {
    max-width: 163.84em;
    height: 48em;
}

/* Section Rodape */

.section-rodape {
    width: 100%;
    background-color: #0c6e71;
    margin-top: 5.0rem;
}

.rodape-info {
    max-width: 163.84em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1.0rem;
}

.rodape-info p {
    margin-top: 2.0rem;
    font-size: 1.6rem;
    color: white;
}

.rodape-info a {
    text-decoration: none;
    color: white;
}

/* Media Query */

/*Resolução 425px */

@media (max-width: 425px){

    /* Section Header */

    .section-header {
        height: 15em;
    }

    .header-info {
        justify-content: center;
    } *

   /* Section Banner */

   .section-banner {
    height: 48em;
    padding-top: 10rem;
   }
   .banner-info {
    width: 21.25em;
    }
   .section-banner h1:first-of-type {
    font-size: 2.5rem;
    padding-left: 5.0rem;
   }

   /* Section Contato */

   .contato-info {
    width: 60em;
    }
    .endereco-iframe {
        width: 64em;
        height: 24em;
    }
    
    /* Section Sobre*/
    .sobre-info {
        width: 65em;
    }
    .lista-img {
        display: none;
    }
    .section-info {
        margin: 0 auto;
    }
    .especialidades-info {
        width: 65em;
    }
}

/* Resolução 768px */
@media (min-width: 768px){
    /* Section Header */

  .banner-info {
    width: 38.4em;
  }

  /* Section Contato */

  .endereco-iframe {
    width: 120em;
    height: 24em;
    }
}
